BTNACE01/MQHA/PAYBROKER/mqsi/components/PAYBROKER/servers/BILL_PAYMENT/run/UB_APP/UB_SET/ws/billpayment/h2h/univbrawijaya/develunbra_.wsdl

<?xml version="1.0" encoding="UTF-8"?><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="univbrawijaya.h2h.billpayment.ws" xmlns:con="http://eviware.com/soapui/config" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="univbrawijaya.h2h.billpayment.ws" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/">
  <documentation>
    <appinfo source="WMQI_APPINFO">
      <MRWSDLAppInfo imported="true">
        <generatedMXSD location="develunbra__InlineSchema1.mxsd"/>
        <binding hasEncoding="false" imported="true" name="BillPaymentServiceSoap" originalBindingStyle="document"/>
      </MRWSDLAppInfo>
    </appinfo>
  </documentation>
  <types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="univbrawijaya.h2h.billpayment.ws">
      <xsd:include schemaLocation="develunbra__InlineSchema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="reverseSoapIn">
    <part element="s0:reverse" name="parameters"/>
  </message>
  <message name="reverseSoapOut">
    <part element="s0:reverseResponse" name="parameters"/>
  </message>
  <message name="paymentSoapIn">
    <part element="s0:payment" name="parameters"/>
  </message>
  <message name="paymentSoapOut">
    <part element="s0:paymentResponse" name="parameters"/>
  </message>
  <message name="inquirySoapIn">
    <part element="s0:inquiry" name="parameters"/>
  </message>
  <message name="inquirySoapOut">
    <part element="s0:inquiryResponse" name="parameters"/>
  </message>
  <message name="echoTestSoapIn">
    <part element="s0:echoTest" name="parameters"/>
  </message>
  <message name="echoTestSoapOut">
    <part element="s0:echoTestResponse" name="parameters"/>
  </message>
  <portType name="BillPaymentServiceSoap">
    <operation name="reverse">
      <input message="s0:reverseSoapIn"/>
      <output message="s0:reverseSoapOut"/>
    </operation>
    <operation name="payment">
      <input message="s0:paymentSoapIn"/>
      <output message="s0:paymentSoapOut"/>
    </operation>
    <operation name="inquiry">
      <input message="s0:inquirySoapIn"/>
      <output message="s0:inquirySoapOut"/>
    </operation>
    <operation name="echoTest">
      <input message="s0:echoTestSoapIn"/>
      <output message="s0:echoTestSoapOut"/>
    </operation>
  </portType>
  <binding name="BillPaymentServiceSoap" type="s0:BillPaymentServiceSoap">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="reverse">
      <soap:operation soapAction="univbrawijaya.h2h.billpayment.ws/reverse" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="payment">
      <soap:operation soapAction="univbrawijaya.h2h.billpayment.ws/payment" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="inquiry">
      <soap:operation soapAction="univbrawijaya.h2h.billpayment.ws/inquiry" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="echoTest">
      <soap:operation soapAction="univbrawijaya.h2h.billpayment.ws/echoTest" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="BillPaymentService">
    <port binding="s0:BillPaymentServiceSoap" name="BillPaymentServiceSoap">
      <soap:address location="http://10.204.31.2/pembayaran/server_btn.php"/>
    </port>
  </service>
</definitions>